# Bloquer l'accès au site par un mdp

#AuthName "Page d'administration protégée"
#AuthType Basic
#AuthUserFile "/home/thiga/site_thiga/.htpasswd"
#Require valid-user


<IfModule mod_rewrite.c>
RewriteEngine On
Options +FollowSymlinks 

RewriteCond %{HTTP_HOST} ^www\.thiga\.com.au [NC]
RewriteRule (.*) http://thiga.com.au/$1 [R=301,L]

# Product Academy

RewriteRule ^book$ book.php [L]

# Conférences

RewriteRule ^events$ events.php [L]

# Join

RewriteRule ^join$ join-us.php [L]


# We are thiga

RewriteRule ^we-are-thiga$ thiga.php [L]

# Join

RewriteRule ^contact$ contact.php [L]


# Si un fichier n'existe pas, essayer de trouver son équivalent PHP (avec le même nom)
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Disable directory browsing 
Options All -Indexes

# Pour désactiver le mapping automatique entre les URL et les fichier *.php
Options -Multiviews

</IfModule>



# compression avec MOD_DEFLATE
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/atom+xml application/rss+xml application/xml application/javascript

# les proxys ne doivent pas décompresser le contenu à la place de l'internaute
Header append Vary User-Agent env=!dont-vary

<IfModule mod_headers.c>
  # Mise en cache des images et autres fichier statiques pour un mois
  <FilesMatch ".(ico|jpe?g|png|gif|swf|flv|css|js|gz|pdf)$">
   #Header set Cache-Control "max-age=2592000"
  </FilesMatch>

  # Mise en cache du html et xml pour 12 heures
  <filesMatch ".(html|htm|xml)$">
   #Header set Cache-Control "max-age=43200"
  </filesMatch>

  # Désactive la mise en cache pour les fichier PHP et CGI
  <FilesMatch ".(php|cgi)$">
   #Header unset Cache-Control
  </FilesMatch>
</IfModule>

<IfModule mod_version.c>
      <IfModule mod_filter.c>
        <IfVersion >= 2.4>
                FilterProvider COMPRESS  DEFLATE "%{Content_Type} = 'text/html'"
                FilterProvider COMPRESS  DEFLATE "%{Content_Type} = 'text/plain'"
                FilterProvider COMPRESS  DEFLATE "%{Content_Type} = 'text/xml'"
                FilterProvider COMPRESS  DEFLATE "%{Content_Type} = 'text/css'"
                FilterProvider COMPRESS  DEFLATE "%{Content_Type} = 'text/javascript'"
                FilterProvider COMPRESS  DEFLATE "%{Content_Type} = 'application/atom+xml'"
                FilterProvider COMPRESS  DEFLATE "%{Content_Type} = 'application/rss+xml'"
                FilterProvider COMPRESS  DEFLATE "%{Content_Type} = 'application/xml'"
                FilterProvider COMPRESS  DEFLATE "%{Content_Type} = 'application/javascript'"
        </IfVersion>
        <IfVersion < 2.4>
                FilterProvider COMPRESS DEFLATE resp=Content-Type $text/html
                FilterProvider COMPRESS DEFLATE resp=Content-Type $text/plain
                FilterProvider COMPRESS DEFLATE resp=Content-Type $text/xml
                FilterProvider COMPRESS DEFLATE resp=Content-Type $text/css
                FilterProvider COMPRESS DEFLATE resp=Content-Type $text/javascript
                FilterProvider COMPRESS DEFLATE resp=Content-Type $application/javascript
        </IfVersion>
      </IfModule>
</IfModule>
