# Bloquer l'accès au site par un mdp

#AuthName "Page d'administration protégée"
#AuthType Basic
#AuthUserFile "/home/thiga/site_thiga/.htpasswd"
#Require valid-user


<IfModule mod_rewrite.c>
RewriteEngine On
Options +FollowSymlinks 

# Études de cas 
RewriteRule edc/design-sprints-axa edc-axa-france.php [L]

# Product Strategy
RewriteRule ^productstrategy/$ home-ps.php [L]
RewriteRule ^productstrategy/offre-idee-mvp$ offre-idee-mvp.php [L]
RewriteRule ^productstrategy/offre-designsprint$ offre-designsprint.php [L]
RewriteRule ^productstrategy/offre-optimisation-produit$ offre-optimisation-produit.php [L]
RewriteRule ^productstrategy/offre-organisation-produit$ offre-organisation-produit.php [L]


# Product Strategy
RewriteRule ^growthmarketing$ home-growthmarketing.php [L]


# Product Design
RewriteRule ^productdesign$ home-productdesign.php [L]


# Product Ownership
RewriteRule ^productownership$ home-productownership.php [L]

# Product Academy

RewriteRule ^books/pa1-guide-du-product-owner$ pa1.php [L]
RewriteRule ^books/pa2-guide-du-growth-marketing$ pa2.php [L]
RewriteRule ^books/pa3-organisations-produit$ pa3.php [L]
RewriteRule ^books$ pa1.php [L]

# Conférences

RewriteRule ^conferences$ conferences.php [L]

# Join

RewriteRule ^join$ join-us.php [L]


# Si un fichier n'existe pas, essayer de trouver son équivalent PHP (avec le même nom)
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Disable directory browsing 
Options All -Indexes

# Pour désactiver le mapping automatique entre les URL et les fichier *.php
Options -Multiviews

</IfModule>



# compression avec MOD_DEFLATE
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/atom+xml application/rss+xml application/xml application/javascript

# les proxys ne doivent pas décompresser le contenu à la place de l'internaute
Header append Vary User-Agent env=!dont-vary

<IfModule mod_headers.c>
  # Mise en cache des images et autres fichier statiques pour un mois
  <FilesMatch ".(ico|jpe?g|png|gif|swf|flv|css|js|gz|pdf)$">
   #Header set Cache-Control "max-age=2592000"
  </FilesMatch>

  # Mise en cache du html et xml pour 12 heures
  <filesMatch ".(html|htm|xml)$">
   #Header set Cache-Control "max-age=43200"
  </filesMatch>

  # Désactive la mise en cache pour les fichier PHP et CGI
  <FilesMatch ".(php|cgi)$">
   #Header unset Cache-Control
  </FilesMatch>
</IfModule>
